body {
  width:100%;
}

.section1 {
  height:auto;
  background-image: url('./images/mybackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width:100%;
  margin:0px;
}

.headbar{
  color: white;
  width: 100%;
  height: 16vh;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding:0px;
  justify-content: space-between;
  background-color: #121212;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-flex: 0;
  flex-shrink: 0;
}

p {
  margin: 15px;
}

.myname {
  font-family: 'Raleway', sans-serif;
  font-size: 7.5vh;
  margin: auto 30px;
}

.navigation{
  display: flex;
  margin: auto 40px;
}

.headli a{
  color:white;
  margin: 10px 10px;
  font-size: 4vh;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  justify-content: flex-end;
  padding: 20px;
}

.content {
  width: auto;
  height: auto;
  display: flex;
  flex: row;
  justify-content: flex-end;
  margin: 0px auto 0px auto;
  text-align: left;
}



.textmain{ 
  margin: 70px 20px auto 40px;
  text-align: center;
}

.textmain h2 {
  font-size: 5.5vh;
  font-family: 'Dosis', sans-serif;
  margin: 15px auto;
  border-bottom:  thin solid black;
}

.textmain h3 {
  font-size: 5.5vh;
  font-family: 'Dosis', sans-serif;
  margin: 10px auto;
  text-align: center;
}
.textmain p {
  font-size: 3.5vh;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.4em;
}
.section2 {
  height:auto;
  width: auto;
  margin: 0px;
  text-align: center;
  background-color: #F2F3F3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.myworks h2 {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
  font-size:25px;
  padding: 20px 0px;;
  color:black;
  margin: 0px auto;
  font-family: 'Raleway', sans-serif;
}

.profolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.works {
  width: 28%;
  height:33%;
  margin: 15px 35px 40px 35px;;
  padding: 5px;
  background-color: white;
  opacity: .9;
  border-radius: 5px;
}

.workstitle {
  margin: 5px auto;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

footer {
  width:auto;
  height:auto;
  margin: 0px;
  border:2px #C5D9E3;
}

.quicklink {
  width: 100%;
  height:30vh;
  background-color: #232323;
  display: flex;
  text-decoration: none;
  justify-content: center;
  flex-direction: column;
  -webkit-flex:1 0 auto;
}

.footli {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.footli a{
  font-size:3.5vh;
  text-decoration: none;
  color: white;
  margin: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.button {
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
 
.button2 {
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    margin:20px auto;
}

.career {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  border:0px;
  padding:0px;
  height:auto;
  width: 100vw;
  font-size : 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}

.career h1 {
  font-size : 32px;
  margin: 10px auto;
  font-style: bold;
}

.career h3 {
  font-size : 21px;
  margin: 10px auto;
  font-style:  italic;
}

.career li {
  margin: 10px auto;
}

.secondli {
    list-style-type: circle;
    list-style-position: inside;
    padding: 10px 0 10px 20px;
    text-indent: .5em;
}

.tkb {
  background-color: #F2F3F3;
  padding: 15px 25px;
}

.foxconn {
  padding: 15px 25px;
}


.bcd {
  padding: 15px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nyu {
padding: 15px 25px;
}

.ga {
  padding: 15px 25px;
  background-color: #F2F3F3;
}

.tamkang {
  padding: 15px 25px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) 
}

.experiencebar {
  height:auto;
  background-color:#F2F3F3;
  font-family: 'Dosis', sans-serif;
  font-size:4vh; 
  padding: 20px;
  text-align: center;
  color: #016C6C;
}

#content {
  padding: auto 20px auto 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 25px auto;   
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
    font-size:3vh;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d9d9c9}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.projecttitle {
  font-size: 2.5vh;
  padding: 15px;
  background-color: #cdcdcd;
  font-family: 'Raleway', sans-serif;
}

.producttitle {
  font-size: 3.3vh;
  padding: 15px;
  font-family: 'Dosis', sans-serif;
  height: 28vh;
  width: 50vh;
  text-align: left;
}

.producttitle p {
  margin: 0px 0px 10px 0px;
}

.maintitle {
   font-family: 'Raleway', sans-serif;
   text-align: center;
   font-size: 4vh;
   padding:15px;
   background-color: #F2F3F3;
   width: 100vw;
}

.description {
  background-color: #F2F3F3;
  font-size: 3vh;
   padding:10px;
   font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    width: 100vw;
    
}

.projectcontent {
  font-size: 3vh;
  padding: 20px;
}

#image {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
}

.wireframe {
  text-align: center;
}

.productall {
  display: flex;
  flex-direction: column;
}

.productall img{
 margin:0px 10px;;
}

#productdetail {
  display: flex;
  flex-direction: row;
  margin: 0px 0px;;
  justify-content: center;
}

.product1 {
  width:100%;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.product2 {
  width:100%;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.product3 {
  width:100%;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.webdev {
  background: #eeeeee;
  width: 100%;
  margin:0px;
}

.webproject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

.webcontent {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.webimage {
  display: flex;
  flex-direction: column;
}

.webbutton {
  display: flex;
  flex-direction: row;
}

.webbutton a{
  margin: 20px;
}

.webtitle {
  font-size: 6vh;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.webdescription {
  font-size: 3.5vh;
  font-family: 'Dosis', sans-serif;
}

.webdescription p{
 margin: 15px;
 line-height: 1.5em;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

@media all and (max-width: 768px) {
  .navigation {
     display: flex;
     flex-direction: row;
     justify-content: left;
  }
  
  .webproject {
    width: 100%;
    flex-direction: column;
    padding:0px;
    margin:0px;
    align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  }

  .webtitle {
    font-size: 4vh;
    width:100vw;
  }

  .webdescription {
    font-size: 3vh;
    width:100%;
  }

  .webcontent {
    width:90%;
  }
  
  .headbar {
    width: 93vw;
    height: 25vh;
    flex-direction: column;
    align-items: center;
  }

  .profolio {
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-basis: auto;
  padding: 40px;
  }

  .works {
  width: auto;
  margin: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-align-items:center;
  -webkit-flex-direction: column;
  }


  #productdetail {
    flex-direction: column;
  }

  .section2 {
    height: auto;
    margin: 50px auto;
    padding: 50px auto;
  }

  .headli a {
    padding:0px;
    margin: 10px;
    font-size: 4vw;
  }

  .dropdown-content {
    margin: 0px;
  }

  img { 
    width: 90%; 
    object-fit: contain;
    
}
   #image {
    border: none;
  } 

  .section1 {
    background-image: none;
  }

  .content {
    justify-content: center;
  }

  .textmain {
    margin: 10px auto;    
  }

  .textmain p {
  font-size: 3.3vh;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.3em;
} 

.textmain h2 {
  font-size: 4.5vh;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.3em;
}

.textmain h3 {
  font-size: 4.8vh;
  font-family: 'Dosis', sans-serif;
  margin: 10px auto;
  text-align: center;
}

}
